.abt{
    background-image: url('../../images/Africa-needs-green-revolution.-930x523.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.about{
    background-color: rgba(3, 3, 3, 0.801);
}
.out{
    padding-top: 50px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.out h4{
    text-align: start;
    color: #1c5f22;
}
.out a{
    color: #1c5f22;
    font-style: italic;
}
.out p, a{
    text-align: start;
    color: #f8f8f8;
    font-size: medium;
}
.vision_mission, .owners{
    width: 35%;
    height: 35%;
    margin-right: auto;
}
.tool{
    width: 35%;
    height: 35%;
    margin-left: auto;
}
p{
    font-size: medium;
}