.input{
    background-color: rgb(226, 226, 229);
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    justify-content: space-evenly;
    width: 70%;
    margin-top: 70px;
    padding: 20px;
    content: "";
    clear: both;
    display: table;
}

#language {
    text-align: center;
    margin: 0 auto;
    width: 150px;
    height: 30px;
    border-radius: 10px;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
@media screen and (max-width: 1230px) {
    .container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
    }
 }

 .input-header{
    border-bottom: 10px solid black;
    color: black;
    border-radius: 5px 5px 0 0;
    width: 100%;
    text-align: center;
  }

  .input-header h2, h3{
    font-weight: bold;
  }

  .input input{
    border: 10px solid white;
    background-color: white;
    box-shadow: 5px 5px 5px rgb(221, 221, 221);
    border-radius: 0 0 5px 5px;
    box-shadow: 10px 5px 5px 5px rgb(221, 221, 221);
  }

  .input select{
    border: solid white;
    background-color: white;
    box-shadow: 5px 5px 5px rgb(221, 221, 221);
    border-radius: 0 0 5px 5px;
    box-shadow: 10px 5px 5px 5px rgb(221, 221, 221);
  }

  a, p, label {
    color: gray;
    text-decoration: none;
    font-size: small;
  }

  .model-output{
    float: right;
  }