.outputSection{
    margin:0 auto;
    width: 45%;
    padding: 10px;
    /* position: relative; */
}
textarea#textOutput{
    width: 450px;
    height: 150px;
    resize: none;
    background-color: rgb(240, 240, 240);
}
.outputButton{
    display: grid;
    grid-template-columns: auto;
    grid-template: 50px / auto auto;
    padding: 10px;
}