.btn-container {
  transform: translate(1080px, -400px);
}
.inputButton {
  justify-content: center;
  grid-template-columns: auto;
  padding: 10px;
}

.output-header h2 {
  font-weight: bold;
  color: black;
  border-radius: 5px 5px 0 0;
  width: 100%;
  text-align: center;
}

.input input {
  border: 10px solid white;
  background-color: white;
  box-shadow: 5px 5px 5px rgb(221, 221, 221);
  border-radius: 0 0 5px 5px;
}

#output-section {
  transform: translate(-400px, 80px);
}

#loading {
  margin: 0 auto;
  text-align: left;
  width: 20px;
  height: 20px;
  background-image: url("../../images/loading.gif");
  background-repeat: no-repeat;
  background-size: cover;
}

#image-upload-header {
  background-image: url("../../images/image-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 600px) {
  .btn-container{
    transform: translate(800px, -400px);
  }
}