*{
    margin: 0;
    padding: 0;
}
.login-body{
    background-color: rgb(226, 226, 229);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    box-shadow: 10px 5px 5px 5px rgb(221, 221, 221);
    width: 70%;
    margin-top: 70px;
    padding: 20px;
}
.login{
    text-align: start;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    width: 40%;
}
.loginTop{
    border-bottom: 10px solid black;
    color: black;
    border-radius: 5px 5px 0 0;
    width: 100%;
    text-align: left;
}
.forgot{
    border-radius: 0 0 5px 5px;
    background-color: rgb(255, 255, 255);
    height: 20%
}
 a, p{
    color: gray;
    text-decoration: none;
    font-size: small;
}
.loginForm{
    color: #999;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding-top: 20px;
}
.icon {
    padding: 10px;
    background: dodgerblue;
    color: white;
    min-width: 50px;
    text-align: center;
  }
@media screen and (max-width: 880px) {
    .login {
        width: 40%;
    }
 }

 #login-header h1{
    font-size: 80px;
 }
 #login-header{
    align-self: start;
    width: 45%;
    height: 45%;
    margin-top: auto;
    margin-bottom: auto;
 }
 .loginForm input{
    border: 10px solid white;
    background-color: white;
    box-shadow: 5px 5px 5px rgb(221, 221, 221);
    border-radius: 0 0 5px 5px;
    width: 100%;
 }

.login-button, .social-btn{
    display: grid;
    grid-template: 90px / auto auto;
    justify-content: space-evenly;
    grid-gap: 90px;
}
span{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 150px;
}
.social-btn{
    display: grid;
    grid-template: 45px / auto  auto auto;
    justify-content: space-evenly;
    grid-gap: 10px;
    /* background-color:  transparent; */
}
.social-btn button{
    width: 30%;
}