.Navbar {
  background-color: #fff;
  color: #1c5f22;
  color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  height: 80px;
  padding: 20px;
  box-shadow: -2px 6px 5px -1px rgba(0, 0, 0, 0.03);
  width: 100vw;
}
menu {
  align-self: flex-start;
  margin-top: 50%;
}
#navbar-heading {
  margin-bottom: 0;
  font-size: 30px;
}
#navbar-subheading {
  margin-top: 0;
}

#logo {
  color: #1c5f22;
  transform: translateX(20px);
}

#navbutton {
  color: #1c5f22;
}
